:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  background-color: #f9fafb;
}

.dashboard-container {
  display: flex;
  flex-direction: column; /* Apila los gráficos verticalmente */
  gap: 1.5rem;
  width: 100%;
}

.chart-container {
  position: relative;
  height: 50vh; /* Ajustamos la altura para que cada gráfico ocupe una porción de la pantalla */
  width: 100%; /* Cada gráfico ocupará todo el ancho disponible */
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid #e0e0e0; /* Borde sutil para un look más definido */
  padding: 1rem;
}
