:host {
  display: block;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* Barra de scroll personalizada para el índice lateral */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(70, 87, 15, 0.35);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}